@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap");

:root {
  --poppins: "Poppins", sans-serif;
  --dm: "DM Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  /* background: linear-gradient(80deg, #242738 0%, rgba(36, 39, 56, 0.00) 100%); */
  background: #242738;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
}
